<div class="content-area">
  <h1>Todo list</h1>

  <mat-selection-list id="todo-list" (selectionChange)="listItemSelected($event.option.value)">
    <mat-list-option *ngFor="let item of items" value="{{item}}">{{item}}</mat-list-option>
  </mat-selection-list>

  <mat-card>
    <mat-card-title>New item</mat-card-title>
    <div>
      <mat-select [(value)]="newItemType" class="new-item-type-select">
        <mat-option class="item-type" value="task">One-time task</mat-option>
        <mat-option class="item-type" value="recurring">Recurring task</mat-option>
        <mat-option class="item-type" value="shopping">Shopping list item</mat-option>
      </mat-select>
    </div>
    <div>
      <mat-form-field class="new-item-form-element amount-input" *ngIf="newItemType == 'shopping'">
        <input matInput type="number" placeholder="Amount" id="amount-input" [(ngModel)]="itemAmount">
      </mat-form-field>
      <mat-form-field class="new-item-form-element label-input">
        <input matInput placeholder="New item..." id="label-input" [(ngModel)]="newItemLabel">
      </mat-form-field>
    </div>
    <div class="deadline-part" *ngIf="newItemType == 'task'">
      To be completed by:
      <mat-form-field class="new-item-form-element">
        <input matInput [matDatepicker]="deadline" placeholder="Deadline" id="deadline-input" [(ngModel)]="itemDeadline">
        <mat-datepicker-toggle matSuffix [for]="deadline"></mat-datepicker-toggle>
        <mat-datepicker #deadline></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="repeat-part" *ngIf="newItemType == 'recurring'">
      Repeat every:
      <mat-form-field class="new-item-form-element frequency-input">
        <input matInput type="number" placeholder="Frequency" id="frequency-input" [(ngModel)]="itemFrequency">
      </mat-form-field>
      <mat-select [(value)]="repeatPeriod" class="period-select">
        <mat-option class="period" value="days">days</mat-option>
        <mat-option class="period" value="weeks">weeks</mat-option>
        <mat-option class="period" value="months">months</mat-option>
        <mat-option class="period" value="years">years</mat-option>
      </mat-select>
      </div>
    <mat-card-footer>
      <button mat-button id="add-item-button" (click)="addItem()" [disabled]="newItemLabel == ''" class="add-item-button">Add</button>
    </mat-card-footer>
  </mat-card>
</div>
